<article class="page-article page-poster-edit">
  <header class="article-header">
    <h1 class="article-title">Edit <%= @poster.title %></h1>
  </header>

  <section class="article-body">
    <%= render 'form' %>
  </section>

  <footer class="article-footer">
  </footer>
</article>
