<article class="page-article page-poster-index">
  <header class="article-header">
    <h1 class="article-title sr-only">Posters</h1>
  </header>

  <section class="article-body">
    <% @posters.each do |poster| %>
      <article class="poster-teaser">
        <%= link_to poster_path(poster), class: 'image-link' do %>
          <%= image_tag poster.image.url %>
        <% end %>
        <h1 class='teaser-title'><%= link_to poster.title, poster_path(poster) %></h1>
        <h2 class='teaser-subtitle'><%= poster.artist %></h2>
      </article>
    <% end %>
  </section>

  <footer class="article-footer">
    
  </footer>
</article>
