<article class="page-article page-poster-index">
  <header class="article-header">
    <h1 class="article-title sr-only">Posters</h1>
  </header>

  <section class="poster-display">
    <div class="poster-toggle">
      <svg class='poster-arrow' width="50" height="50" viewBox="-16 -14 50 50" xmlns="http://www.w3.org/2000/svg"><polygon points='0,20 0,0 20,10'></polygon></svg>
    </div>
    <div class="poster-display-inner">
      <%= render 'loading' %>
    </div>
  </section>

  <section class="article-body poster-teasers">
    <%= render partial: 'poster', collection: @posters %>
  </section>

  <footer class="article-footer">
    
  </footer>
</article>
