<article class="page-article page-poster-show">
  <header class="article-header">
    <h1 class="article-title"><%= @poster.title %></h1>
  </header>

  <section class="article-body">
    
  </section>

  <footer class="article-footer">
    <%= render 'reviews' %>
  </footer>
</article>
