<article class="page-article page-poster-new">
  <header class="article-header">
    <h1 class="article-title">Create an Account</h1>
  </header>

  <section class="article-body">
    <%= render 'form' %>
  </section>

  <footer class="article-footer">
    <%= link_to "Back", posters_path %>
  </footer>
</article>
