body {
  // margin: 1em 6em; 
}

.page {
  // width: 960px;
}

//

.site-header {
  margin-bottom: .5em;
  padding: 2em 0 0 2em;
  // border-bottom: thin solid #eee;
  height: 150px;
  position: relative;
}

.site-search {
  position: absolute;
  top: 105px;
  left: 650px;
}

.site-body {
  padding: 2em;
}

.site-footer {
  padding: 2em;
  border-top: thin solid #eee;
}

.article-footer {
  margin-top: 2em;
}

// Poster layouts

// Index

.page-poster-index {
  .article-body {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
  }
}

// Teaser

.poster-teaser {
  width: 300px;
  color: #666;
  margin-right: 5px;
  // border-bottom: 1px solid #efefef;
  padding-bottom: 1em;
  margin-bottom: 1em;

  img {
    width: 100%;
  }
}

.teaser-title, .teaser-subtitle {
  padding-left: 2em;
}

.teaser-title {
  font-size: .9em;
}

.teaser-subtitle {
 font-size: .9em;
}

// Full Poster Display

.poster-display {
  background-color: #efefef;
  position: fixed;
  top: 0;
  right: 0;
  overflow: scroll;
  height: 100%;
  width: 800px;
  transform: translateX(800px);
  transition: transform .5;
  z-index: 3;

  img {
    max-height: 750px;
  }
}

body.poster-active {
  .poster-display {
    // transform: translateX(0);
  }

  .page {
    transform: translate(-800px);
  }
}


.poster-display-inner {
  padding: 100px;
}

.poster-loading {
  margin: 12em 0 0 6em;
}

circle {
  fill: #ddd;
}

.poster-toggle {
  width: 50px;
  height: 50px;
  background-color: #ddd;
  position: fixed;
  top: 50px; left: 0;
  z-index: 4;
  cursor: pointer;
}

