body {
  // margin: 1em 6em; 
}

.page {
  // width: 960px;
}

//

.site-header {
  margin-bottom: .5em;
  padding: 2em 0 0 2em;
  border-bottom: thin solid #eee;
}

.site-body {
  padding: 2em;
}

.site-footer {
  padding: 2em;
  border-top: thin solid #eee;
}

.article-footer {
  margin-top: 2em;
}

// Poster layouts

// Index

.page-poster-index {
  .article-body {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
  }
}

// Teaser

.poster-teaser {
  width: 300px;
  color: #666;
  margin-right: 5px;
  // border-bottom: 1px solid #efefef;
  padding-bottom: 1em;
  margin-bottom: 1em;

  img {
    width: 100%;
  }
}

.teaser-title, .teaser-subtitle {
  padding-left: 2em;
}

.teaser-title {
  font-size: .9em;
}

.teaser-subtitle {
 font-size: .9em;
}

// Full Poster Display

.poster-display {
  display: hidden;
  overflow: hidden;
  height: 0px;
  padding-bottom: 2em;
  transition: display 1s, height 1s;
  text-align: center;

   &.poster-active {
    display: block; 
    min-height: 800px;
  }

  img {
    max-height: 750px;
  }
}

.poster-loading {
  margin-top: 6em;
}

circle {
  fill: #ddd;
}