.site-navigation {
  height: 100vh;
  width: 400px;
  background-color: #222;
  position: fixed;
  top: 0; left: 0;
  transform: translateX(-400px);
  transition: transform .5s;
  color: #efefef;
  z-index: 2;
  text-align: right;
  
  ul {
    list-style: none;
  }

  li {
    padding-right: 1em;
    margin-bottom: .25em;
  }
}

.page {
  transition: transform .5s;
}

.nav-toggle {
  width: 50px;
  height: 50px;
  background-color: #444;
  position: fixed;
  top: 0; left: 400px;
}

.nav-toggle:hover {
  cursor: pointer;
}

body.nav-active {
  .site-navigation {
    transform: translateX(0);
  }

  .page {
    transform: translateX(400px);
  }  
}

.menu-heading {
  background-color: #333;
  height: 50px;
  width: 100%;
  line-height: 3em;
  color: #999;
  span {
    padding-right: .5em;
  }
}