.site-navigation {
  height: 100vh;
  width: 400px;
  background-color: #222;
  position: fixed;
  top: 0; left: 0;
  transform: translateX(-400px);
  transition: transform .5s;
  color: #efefef;
  z-index: 2;
  
  ul {
    list-style: none;
  }
}

.page {
  transition: transform .5s;
}

.nav-toggle {
  width: 50px;
  height: 50px;
  background-color: #444;
  position: fixed;
  top: 0; left: 400px;
}

.nav-toggle:hover {
  cursor: pointer;
}

body.nav-active {
  .site-navigation {
    transform: translateX(0);
  }

  .page {
    transform: translateX(400px);
  }  
}