.site-navigation {
  height: 100vh;
  width: 200px;
  background-color: #222;
  position: fixed;
  top: 0; left: 0;
  transform: translateX(-200px);
  transition: transform .5s;
  color: #efefef;
  z-index: 2;
  text-align: right;
  
  ul {
    list-style: none;
  }

  li {
    padding-right: 1em;
    margin-bottom: .25em;
  }
}

.page {
  transition: transform .5s, opacity .5s;
  opacity: 1;
}

.nav-toggle {
  width: 50px;
  height: 50px;
  background-color: #444;
  position: fixed;
  top: 0; left: 200px;
}

.nav-toggle:hover {
  cursor: pointer;
}

body.nav-active {
  .site-navigation {
    transform: translateX(0);
  }

  .page {
    transform: translateX(200px);
    opacity: .25;
  }  
}

.menu-heading {
  background-color: #333;
  height: 50px;
  width: 100%;
  line-height: 3em;
  color: #999;
  span {
    padding-right: .5em;
  }
}

.nav-arrow {
  fill: #999;
  transition: fill .25s, transform .25s;
}

.nav-arrow:hover {
  fill: black;
  transform: rotate(180deg);
}

.nav-active {
  .nav-arrow {
    transform: rotate(180deg);   
  }
}

.poster-arrow {
  fill: #666;
  opacity: 0;
  transition: opacity .25s;
}

.poster-active {
  .poster-arrow {
    opacity: 1;
  }
}

.modal-arrow {
  transform: rotate(90deg);
  fill: #ddd;
}