body {
  font-family: 'Lato', sans-serif;
}

.site-title {
  font-size: 6em;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: #666;
  background-color: yellow;
  padding: 0 .5em;
}

a:hover {
  text-decoration: underline;
}

.site-title a {
  text-decoration: none;
  background-color: transparent;
  color: #333;
}

