<%= render 'nav' %>

<article class="page-article page-poster-index">
  <header class="article-header">
    <h1 class="article-title sr-only">Admin Dashboard</h1>
  </header>

  <section class="article-body">
    <h2>Users</h2>
    <table>
      <thead>
        <td>Username</td>
        <td>Email</td>
        <td></td>
      </thead>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td>Delete User</td>
        </tr>
      <% end %>
    </table>
  </section>

  <footer class="article-footer">
    
  </footer>
</article>
