<nav class="site-navigation">
  <ul role='navigation'>
    <li class="nav-item"><%= link_to 'All Posters', posters_path %></li>
    <li class="nav-item"><%= link_to 'Add Poster', new_poster_path %></li>
  </ul>
</nav>